{
	"solrupdater": {
		"solr_scheme": "http",
		"solr_host": "host",
		"solr_port": "8983",
		"solr_core": "core",
   	"solr_user": "user",
   	"solr_password": "pass",
   	"mongo_host": "host",
   	"mongo_user": "user",
   	"mongo_password": "pass",
   	"mongo_port": "27017",
   	"mongo_db":  "db",
   	"mongo_collection": "index"
	},

   "indexupdater": {
      "mongo_host": "host",     
      "mongo_port": "27017",
      "mongo_db":  "db",
      "mongo_collection": "apim",
      "mongo_user": "user",
      "mongo_password": "pass",
      "phaidraapi_baseurl": "apiurl",      
      "phaidraapi_adminusername": "username",
      "phaidraapi_adminpassword": "pass"
   },

   "dcupdater": {
      "mongo_host": "host",     
      "mongo_port": "27017",
      "mongo_db":  "db",
      "mongo_collection": "apim",
      "mongo_user": "user",
      "mongo_password": "pass",
      "phaidraapi_baseurl": "apiurl",      
      "phaidraapi_adminusername": "username",
      "phaidraapi_adminpassword": "pass"
   }
   
	
}